RSPS_POSTGRES_DB=moparscape
RSPS_POSTGRES_USER=moparscape
RSPS_POSTGRES_PASSWORD=moparscape
RSPS_POSTGRES_PORT=55432

RSPS_DB_JDBC_URL=jdbc:postgresql://127.0.0.1:55432/moparscape
RSPS_DB_USERNAME=moparscape
RSPS_DB_PASSWORD=moparscape
